In [1]:
import pandas as pd

In [3]:
imgs = pd.read_csv("X_train_update.csv")
imgs.columns

Index(['Unnamed: 0', 'designation', 'description', 'productid', 'imageid'], dtype='object')

In [4]:
imgs.productid.value_counts()

3804725264    1
4057771973    1
3990158581    1
207170093     1
4130226709    1
             ..
3816940072    1
501329347     1
3836684538    1
3155075034    1
57203227      1
Name: productid, Length: 84916, dtype: int64

In [5]:
imgs

,Unnamed: 0,designation,description,productid,imageid
0,0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046
1,1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237
2,2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978
3,3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496
4,4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786
...,...,...,...,...,...
84911,84911,The Sims [ Import Anglais ],NaN,206719094,941495734
84912,84912,Kit piscine acier NEVADA déco pierre Ø 3.50m x...,<b>Description complète :</b><br />Kit piscine...,3065095706,1188462883
84913,84913,Journal Officiel De La Republique Francaise N°...,NaN,440707564,1009325617
84914,84914,Table Basse Bois De Récupération Massif Base B...,<p>Cette table basse a un design unique et con...,3942400296,1267353403
84915,84915,Gomme De Collection 2 Gommes Pinguin Glace Ver...,NaN,57203227,684671297

In [6]:
train = pd.read_csv("Y_train_CVw08PX.csv")
train.columns

Index(['Unnamed: 0', 'prdtypecode'], dtype='object')

In [7]:
train.prdtypecode.value_counts()

2583    10209
1560     5073
1300     5045
2060     4993
2522     4989
1280     4870
2403     4774
2280     4760
1920     4303
1160     3953
1320     3241
10       3116
2705     2761
1140     2671
2582     2589
40       2508
2585     2496
1302     2491
1281     2070
50       1681
2462     1421
2905      872
60        832
2220      824
1301      807
1940      803
1180      764
Name: prdtypecode, dtype: int64

In [29]:
train.groupby('prdtypecode').nunique().sort_values(['Unnamed: 0'], ascending=False)

             Unnamed: 0
prdtypecode
2583              10209
1560               5073
1300               5045
2060               4993
2522               4989
1280               4870
2403               4774
2280               4760
1920               4303
1160               3953
1320               3241
10                 3116
2705               2761
1140               2671
2582               2589
40                 2508
2585               2496
1302               2491
1281               2070
50                 1681
2462               1421
2905                872
60                  832
2220                824
1301                807
1940                803
1180                764

In [9]:
imgs_tidy = imgs.rename(columns = {'Unnamed: 0': 'id'}, inplace = False)

In [10]:
imgs_tidy

,id,designation,description,productid,imageid
0,0,Olivia: Personalisiertes Notizbuch / 150 Seite...,NaN,3804725264,1263597046
1,1,Journal Des Arts (Le) N° 133 Du 28/09/2001 - L...,NaN,436067568,1008141237
2,2,Grand Stylet Ergonomique Bleu Gamepad Nintendo...,PILOT STYLE Touch Pen de marque Speedlink est ...,201115110,938777978
3,3,Peluche Donald - Europe - Disneyland 2000 (Mar...,NaN,50418756,457047496
4,4,La Guerre Des Tuques,Luc a des id&eacute;es de grandeur. Il veut or...,278535884,1077757786
...,...,...,...,...,...
84911,84911,The Sims [ Import Anglais ],NaN,206719094,941495734
84912,84912,Kit piscine acier NEVADA déco pierre Ø 3.50m x...,<b>Description complète :</b><br />Kit piscine...,3065095706,1188462883
84913,84913,Journal Officiel De La Republique Francaise N°...,NaN,440707564,1009325617
84914,84914,Table Basse Bois De Récupération Massif Base B...,<p>Cette table basse a un design unique et con...,3942400296,1267353403
84915,84915,Gomme De Collection 2 Gommes Pinguin Glace Ver...,NaN,57203227,684671297

In [11]:
imgs_tidy.id.value_counts()

0        1
56617    1
56615    1
56614    1
56613    1
        ..
28304    1
28303    1
28302    1
28301    1
84915    1
Name: id, Length: 84916, dtype: int64

In [13]:
train.loc[train['prdtypecode'] == 2583]

       Unnamed: 0  prdtypecode
20             20         2583
39             39         2583
53             53         2583
58             58         2583
64             64         2583
...           ...          ...
84874       84874         2583
84887       84887         2583
84905       84905         2583
84909       84909         2583
84912       84912         2583

[10209 rows x 2 columns]

In [14]:
imgs_tidy.loc[imgs_tidy['id'] == 84905]

,id,designation,description,productid,imageid
84905,84905,Bâche été pour piscine Lili Ø 255 m,<p>La <strong>bâche été</strong> permet d&#39;...,1886035156,1109239046

In [21]:
viz = imgs_tidy.loc[84905]

In [15]:
from PIL import Image

In [26]:
#image_imageid_product_productid.jpg
img_name = "image_"+ str(viz.at['imageid']) + "_product_"+ str(viz.at['productid']) + ".jpg"
img_name

'image_1109239046_product_1886035156.jpg'

In [27]:
image = Image.open('images/image_train/'+img_name)
image.format

'JPEG'

In [28]:
image.show()

In [32]:
train.loc[train['prdtypecode'] == 2583]['Unnamed: 0']

20          20
39          39
53          53
58          58
64          64
         ...
84874    84874
84887    84887
84905    84905
84909    84909
84912    84912
Name: Unnamed: 0, Length: 10209, dtype: int64

In [42]:
# 2583, 1560, 1300, 2060
imgs_a = imgs_tidy.loc[imgs_tidy['id'].isin(train.loc[train['prdtypecode'] == 1300]['Unnamed: 0'])]
imgs_a

,id,designation,description,productid,imageid
24,24,Mini Wifi 720p Caméra Drone Rc Quadcopter 24 G...,Mini Wifi 720P Caméra Drone RC Quadcopter 24 G...,3748203527,1240721678
59,59,Moakoada®Body Wrap Peau Autocollant Decal Pour...,Body Wrap peau autocollant Decal Pour DJI Phan...,3893192098,1260268384
63,63,2.4g 6-Axis Wifi Fpv Drone 0.3mp Caméra Terre-...,NaN,3951008374,1268466271
81,81,Maquette D'avion Protective Silicone Cover Cas...,Silicone CoverCase With Handheld Lanyard For D...,4122557333,1294197004
104,104,Noch - 14222 - Modélisme Ferroviaire - Passere...,NaN,516394759,1019306612
...,...,...,...,...,...
84856,84856,Voiture Formule 1 N° 4 (Or) 1/64,NaN,1651632507,1096469949
84863,84863,Truescale Miniatures - 1/43 - Ford Gt Gtlm - W...,<strong>- Fabricant :</strong> TRUESCALE MINIA...,4113767078,1292770403
84882,84882,Kits Multifonctionnels Pour Dji Mavic Support ...,NaN,2827810848,1166968437
84883,84883,Xiaomi Télécommande Silicone Housse De Protect...,Xiaomi télécommande silicone Housse de protect...,3563521198,1221451424
84890,84890,Modèle De Voituremetal Alloy Front Axle Rear A...,Metal Alloy Front Axle Rear Axle for 1/10 D90 ...,4157460574,1303123722

In [34]:
import os
import shutil

In [43]:
for index, row in imgs_a.iterrows():
    img_name = "image_"+ str(row['imageid']) + "_product_"+ str(row['productid']) + ".jpg"
    shutil.move("images/image_train/"+img_name, "images/image_sample/"+img_name)

In [38]:
image = Image.open('images/image_train/image_921250106_product_168344514.jpg')
image.show()